

#ignore python cache files
__pycache__/
__pycache__/auxfunctions.cpython-36.pyc
__pycache__/ffermat.cpython-36.pyc
__pycache__/quad_mdl.cpython-36.pyc

#ignore Jupyter checkpoints
.ipynb_checkpoints

#ignore model repos
smart_stereo/
rad_models/
aerialdrm/
boeing_perception_model/

#ignore output tables
#*.ecsv
#*csv

#profiling
conftest.py
profiling.py
speedtest*

#build things
lib/
dist/
fmdtools.egg-info/
fmdtools_hulsed.egg-info

#sphinx output
_build/
_static/
_templates/
LICENSE.bak
*.pkl
fmdtools.code-workspace
