

#ignore python cache files
__pycache__/
__pycache__/auxfunctions.cpython-36.pyc
__pycache__/ffermat.cpython-36.pyc
__pycache__/quad_mdl.cpython-36.pyc

#ignore Jupyter checkpoints
.ipynb_checkpoints

#ignore output tables
*.ecsv
*csv
