#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
{{ spec.name }} model package.
"""

from .level_{{ safe_spec_name }} import {{ spec.name }}
from .architecture import {{ spec.architecture.name }}

__all__ = [
    "{{ spec.name }}",
    "{{ spec.architecture.name }}",
]

